<i class="glyphicon glyphicon-refresh spinning"></i>
<div class="container form-group ">
  <button (click)="navigate()" type="button" class="btn btn-outline-secondary "> <-- back </button>
  <h4 class="pt-4">Star Wars Character Details</h4>
  <div class="pt-4"><span>Character Name :</span> {{characterFromRoute.name}}</div>
<div><span>Character Birth year :</span> {{characterFromRoute.birth_year}}</div>
<div class="row pt-4">
  <div *ngFor="let x of characterFilms" class="card col-md-3 col-sm-3 col-12 m-1">
  <div class="card-body">
          <h5 class="card-title">{{x.title}} </h5>
          <p class="card-text">{{x.release_date}}</p>
        </div>
  </div>
</div>
</div>