<div class="container">
  <div class="row">
      <div class="container form-group ">
          <button (click)="navigate()" type="button" class="btn btn-outline-secondary "> <-- back </button>
      </div>
  </div>
  <div class="row">
      <div class=" col-12">
          
                  <div class="alert alert-danger" role="alert">
                      Error occured while retrieving the result. Please click on Back button to visit the home page.
                    </div>
                    <div class="pb-5"><img src="https://uproxx.files.wordpress.com/2018/07/vader.jpg?quality=100&w=650" height="500" class="img-fluid rounded mx-auto d-block" alt="Responsive image"></div>
          </div>
  </div>
</div>
