<main role="main" class="container">
</main> 
<div class="container form-group ">
  <h4 class="pb-4">Star Wars Characters</h4>
  <div class="row pb-3">
    <div class="col-4">
    <input type = "text" class="form-control" [(ngModel)]="searchString" (keyup)="test($event)" placeholder="Search...">
    </div>
  </div>
<div class="row ">
  <div (click)="navigate(x)" *ngFor="let x of filtererdCharacters" class="card col-md-3 col-sm-3 col-12 m-1">
  <summary><div class="card-body">
          <h5 class="card-title">{{x.name}}</h5>
          <p class="card-text">{{x.type}}</p>
        </div></summary>
  </div>
</div>
</div>